.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 2.1875rem;
  padding: 0.375rem 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.52857;
  font-size: 0.875rem;
  color: #495057;
  border: 1px solid #dde6e9;
  background-clip: padding-box;
  border-radius: 4px;
  border-radius: 0.25rem;
}

.react-autosuggest__input::placeholder {
  color: #aeb4b9;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}